.slideshow {
    
    margin: 10px 0px;

    div {
        
        width: 100%;
        height: 415px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 30px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .vector1 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
             
            margin-left: 20px;

        }

        .vector2 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
           
            margin-right: 20px;
        }

        .numerotation {
            display: flex;
            
            justify-content: center;
            align-items: end;

            margin-bottom: 30px;

            color: white;
        }
    }
    
}

@media (max-width: 767px) {


    .slideshow {
    
    
        div {
            
            height: 330px;
            border-radius: 15px;
    
            .vector1 {
                width: 12px;
                height: 20px;
            }
    
            .vector2 {
                width: 12px;
                height: 20px;
            }
    
           
        }
        
    }

}